// GCP Info
gcp_credentials_file = "~/path/to/credentials.json"
gcp_ssh_public_key   = "~/path/to/key.pub"
gcp_ssh_private_key  = "~/path/to/key.pem"
gcp_project = "my-gcp-project"

// Object Tags
// lower-case, numbers, underscore, & dash only
label_contact     = "me-at-domain-tld"
label_customer    = "gcp-cust"
label_project     = "proj"
label_dept        = "sales"
label_application = "hab-managed"

// Automate Config

automate_hostname         = "my-a2" // will be hostname and DNS name
automate_ssh_username     = "jmery"
automate_dns_zone_name    = "gcpchefdemo"
automate_dns_zone_project = "chef-sa"
email_address             = "me@domain.tld"
// Uncomment this line for valid certs from Let's Encrypt
# acme_provider_url         = "https://acme-v02.api.letsencrypt.org/directory"
automate_license         = "here's my automate key ..."
